.project {
    width: 300px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .05);
    margin: 10px 0;

    border: 1px solid;
}

.description {
    padding: 15px;
}

.name {
    display: block;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}


.category {
    font-size: 12px;
    line-height: 12px;
    color: #777;
    font-weight: 400;
}

.logo {
    display: block;
    max-width: 300px;
    height: 250px;
    background-color: #acb5d5;
    border-radius: 20px 20px 0 0;
    transition: background-color .3s linear;
}

.logo:hover {
    background-color: #6c7fc2;
}
