.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(135deg, #1d1e21 0, #3e4246 100%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 1080px;
    width: 100%;

    border: 1px solid red;
}

.contactsBlock {
    margin-bottom: 20px;
}


.contactsInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;

    border: 1px solid green;
}


@media (max-width: 1080px) {
    .mediaSubtitle {
        text-align: center;
    }
    .contactsInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}