.main {
  height: 100vh;
  background: linear-gradient(135deg, #1d1e21 0, #3e4246 100%);
  /*background: url('https://oir.mobi/uploads/posts/2019-11/1574906657_gory-norvegii-25.jpg') ;*/
  background-size: cover;
  opacity: 1;

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .title {
      margin: 0 0 30px 0;
      font-size: 66px;
      line-height: 66px;
      color: #fff;
      font-weight: 600;
      text-align: center;

      span {
        opacity: .5;
      }
    }
  }

  .particle {
    position: fixed;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.4;
  }
}



