@import './src/common/styles/mixins';

.contacts {
  @include page();

  .container {
    @include containerFlexColumn();

    .content {
      max-width: 1080px;
      width: 100%;

      .contactsBlock {
        margin-bottom: 50px;

        .mediaSubtitle {
          @media (max-width: 1080px) {
            text-align: center;
          }
        }

        .contactsInfo {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
          justify-items: center;
          @media (max-width: 1080px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}